@use "vuetify/settings" with (
  // $font-size-root: 20px,
  $heading-font-family: "Barlow",
  $body-font-family: "Barlow",
  $button-text-transform: "none"
);

@import url("fonts.scss");
@import url("utils.scss");

html {
  body {
    font-family: settings.$body-font-family !important;
  }
  .text-h1,
  .text-h2,
  .text-h3,
  .text-h4,
  .text-h5,
  .text-h6,
  .text-subtitle-1,
  .text-subtitle-2,
  .text-body-1,
  .text-body-2,
  .text-caption,
  .text-overline,
  .text-button {
    font-family: settings.$body-font-family !important;
  }
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
